$c-gray: #eee;
$dark-green: #1A5A4C;
$green-date: #1A5A4C;
$white-color: #fff;
$gray-name: #687480;
$dark-title: #0F0E08;
$dark-paragtaph: #4E4E4E;
$title-red: #F14A27;
$gray-button: #bdbaba;
$active-button-gallery: #1A5A4C;
$semi-transparent-white: #ffffff80;
$footer-hr: #1A5A4C80;
$table-min-width: 768px;
$desktop-min-width: 1280px;
$transition: 0.3s;

